# Ignore artifacts:
build

# Ignore input file from html:
src/html/partials/components/macro/input.html

# Ignore app folder:
src/app/**

# Ignore crm folder:
src/crm/**

# Ignore utils.js
src/assets/js/utils.js