{% extends 'layout.html' %} {% block content %} {% include 'sections/header.html' %}

<main>
  {% include 'sections/programming.html' %} {% include 'sections/scratch.html' %} {% include
  'sections/howWeLearn.html' %} {% include 'sections/results.html' %} {% include
  'sections/onlineClasses.html' %} {% include 'sections/withChild.html' %} {% include
  'sections/project.html' %}{% include 'sections/trial.html' %} {% include
  'sections/whyChooseUs.html' %} {% include 'sections/feedback.html' %}
</main>

{% include 'sections/footer.html' %} {% endblock %}
