{% set section = header %}
<header
  class="{{section.id}} section smOnly:!pt-6 bg-blue-dark !pb-[96px] md:!pb-[156px] xl:!pb-[200px]"
>
  <div class="container">
    <!-- HEADER -->
    <div class="mb-6 md:mb-[60px] xl:mb-8">
      <!-- LOGO -->
      <a href="{{page.canonical}}" aria-label="{{logo.link_logo_aria}}">
        <svg
          width="142"
          height="37"
          aria-label="{{logo.logo_aria}}"
          class="inline-block animate-logo"
        >
          <title>{{logo.logo_aria}}</title>
          <use href="./assets/images/sprite.svg#logo"></use>
        </svg>
      </a>
      <!--  END LOGO -->
    </div>
    <!--  END HEADER -->

    <!-- HERO -->
    <div>
      <p
        class="mb-4 text-sm font-normal leading-[1.3] text-black-dark md:mb-6 md:w-[520px] xl:w-[670px] smOnly:pr-[21px]"
      >
        {{section.subtitle}}
      </p>
      <h1 class="title mb-4 md:w-[520px] xl:mb-5 xl:w-[800px]">{{section.title}}</h1>
      <h2
        class="section-subtitle mb-2 !text-[13px] !leading-[1.3] md:mb-4 md:w-[470px] md:!text-[17px]"
      >
        {{section.description}}
      </h2>

      <ul class="mb-8 md:mb-10 xl:mb-[52px]">
        {% for item in section.list %}
        <li
          class="header-item paragraph mb-2 pl-[28px] !text-black-dark last:mb-0 md:mb-3 md:w-[418px] md:pl-12 xl:w-[400px]"
        >
          {{item}}
        </li>
        {% endfor %}
      </ul>
      <button
        class="btn scaled-hover w-full max-w-[320px] md:min-w-[340px] smOnly:mx-auto smOnly:block"
        type="button"
        data-modal-open
      >
        {{section.btn.text}}
      </button>
    </div>
    <!--  END HERO -->
  </div>
</header>
