<!-- {% set section = navigation %}
<button class="mobile-menu-btn" type="button" aria-label="{{section.btnAria}}" data-open-menu-btn>
  <svg class="mobile-menu-btn-icon" width="24" height="24" aria-label="{{section.svgAria}}">
    <use href="./assets/images/sprite.svg#burger"></use>
  </svg>
</button>
<div class="mobile-menu" data-menu>
  <button
    class="mobile-menu-close"
    type="button"
    aria-label="{{section.btnCloseAria}}"
    data-close-menu-btn
  >
    <svg width="24" height="24" aria-label="{{svgCloseAria}}">
      <use href="./assets/images/sprite.svg#icon-close-menu"></use>
    </svg>
  </button>
  <a
    class="logo flex justify-center"
    href="{{page.canonical}}"
    aria-label="{{logo.link_logo_aria}}"
  >
    <svg width="100" height="30" aria-label="{{logo.logo_aria}}">
      <title>{{logo.logo_aria}}</title>
      <use href="./assets/images/sprite.svg#logo"></use>
    </svg>
  </a>
  {% include 'components/nav-menu.html' %}
  <button class="btn border border-black p-2 notXl:hidden" type="button" data-modal-open>
    Open modal
  </button>
</div> -->
